* {
    margin: 0;
    padding: 0;
}

.btn-pass{
    border: none;
    border-width: 0;
    border-color: #ecf0f1;
    background-color: #ecf0f1;
}

.btn-pass:hover{
    border: none;
    border-width: 0;
    border-color: #ecf0f1;
    background-color: #ecf0f1;

}

.center{
    height: 90px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    padding: 5px 5px;
    display: flex;
    background-color: #54AEE6;
}

.container{
    margin-top: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.container-second{
    height: 80%;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}

.container-third {
    height: auto;
    width: auto;
    margin: auto;
    padding: 10px 40px;
}

.container-table{
    height: 50%;
    width: 300px;
}

.box{
    background-color: #fff;
    border-radius: 15px;
}

.container-fluid{
    height:45px !important;
}

.column{
    width: 60%;
    display: flex;
    text-align: center;
    align-items: center;
}

.content-list{
    border-radius: 15px;
    background-color: white;
    width: 960px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content{
    border-radius: 15px;
    background-color: white;
    width: 960px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 0 0.5em #ecf0f1;
}
.content::before {
    content: "";
    background-color: #54AEE6;
    position: absolute;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.crp{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 22px;
	font-weight: normal; 
    text-transform: uppercase;
    float: left;
    vertical-align: middle;
    margin-top: 2%;
    margin-left: -5%;
}

.crp-menu{
    font-family: 'Open Sans' , sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
    text-align: left;
    margin: auto;
}

.fa-eye {
    color: #7f8c8d;
    padding: 0 5px;
}

.first-content{
   display: flex;
}

.first-content .first-column{
    z-index: 10;
}

.first-content .second-column{
    z-index: 11;
}

.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}

.navbar {
    position: sticky !important;
    top: 0 !important;
}

.navbar-brand {
    padding: 15px 15px;
    font-size: 15px !important;
    position: relative;
    font-weight: normal !important;
    margin: auto !important;
    color: #001741 !important;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #dcdcdc !important;
    font-weight: normal !important;
    font-size: 20px !important;
}

.navbar-dark .navbar-nav .nav-link{
    color: #dcdcdc !important;
    font-weight: normal !important;
    font-size: 20px !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff !important;
}

.row .g-3{
    height: auto;
    width: 100%;
    padding: 10px 40px;
    margin: 0 auto;
    border-radius: 15px;
}

.dropdown-toggle {
    margin: auto !important;
}

.dropdown-toggle:focus{
    color: #ecf0f1b6;
}

h4{
    font-family: 'Open Sans' , sans-serif;
    font-weight: bold;
}

.nav-item {
    padding: 15px 15px;
    margin-top: -30px;
}

.navbar-expand-lg .navbar-dark .bg-primary{
    background-color: #54AEE6 !important;
    color: #fff !important;
}

.bg-primary{
    background-color: #54AEE6 !important;

}

.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-content{
    position: absolute;
    display: flex;
}

.select-object,
.select-orgao {
    height: 45px;
    border-width: 0;
    border-radius: 5px;
    background-color: #ecf0f1;
    min-width: 300px;
    outline: none;
    width: 25%;
    margin: 8px;
    display: inline-block;
}

.select-object:focus{
    border: 1px solid #54AEE6;
}

.select-orgao:focus{
    border: 1px solid #54AEE6;
}

header{
    background-color: #54AEE6;
    border-bottom: 0.5px solid #54AEE6;
    height: 80px;
}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px; 
}

.label-select {
    height: 45px;
    width: auto;
    margin: 8px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #001741;
}

.icon-modificado{
    height: 45px;
    width: auto;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

.icon-menu{
    color: #fff;
   position: relative; 
}

.far fa-user .icon-menu{
    color: #fff;
    padding-bottom: .3125rem;
    padding-top: .3125rem;
    height: 45px;
    width: auto;
    padding: 50px 50px;
}

.logo h2{
    font-weight: normal;
    font-size: 25px;
}
 
fieldset{
    border-radius: 5%;
}

.btn-outline-danger{
    background-color: transparent !important;
	border: 1px solid white !important;
    border-color: #fff !important;
    transition: 0.6s !important;
    text-transform: uppercase !important;
    border-radius: 15px !important;
    border-width: 0 !important;
    font-size: 15px !important;
    width: 100px !important;
    padding: 5px 10px !important;
    color: #fff !important;
    text-align: center;
}

.btn-outline-danger:hover{
    background-color: #dc3545 !important;
	color: white !important;
	transition: 0.6s !important;
    border-color: #54AEE6 !important;
    border-radius: 15px !important;
}

.btn-primary{
    background-color: #54AEE6 !important;
	border: none !important;
    transition: 0.6s !important;
    border-width: 0 !important;
    width: 150px !important;
}

.btn-primary:hover{
    background-color: transparent !important;
	color: #54AEE6 !important;
	transition: 0.6s;
    border-color: #54AEE6 !important;
} 

.btn-secondary{
    background-color: transparent;
	border: 1px solid white;
    transition: 0.6s;
}

body {
    margin-top: 0%;
    text-align: center !important;
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue !important;
}

.form {
    height: 45px;
    width: 100%;
    margin: auto;
    background-color: #ecf0f1;
}

.inputUsuario,
.inputSenha
{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    min-width: 300px;
    outline: none;
    width: 100%;
    margin: 8px;
    display: inline-block;
}

.inputUsuario:focus{
    outline: none !important;
    border-color: #54AEE6;
    box-shadow: 0 0 7px #719ECE;
}

.inputSenha:focus{
    outline: none !important;
    border-color: #54AEE6;
    box-shadow: 0 0 7px #719ECE;
}

.form input{
    height: 45px; 
    width: 100%;
    border: none;
    background-color: #ecf0f1;
} 

.img-login {
    height:200px;
	width:auto;
	margin-top: 5px;
	margin: 20px; 
}

.inputSubmit {
    border-radius: 15px;
	text-transform: uppercase;
    text-align: center;
	color: white;
    font-size: 10px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    background-color: #54AEE6;
    border: 1px solid #54AEE6;
    border-width: 0;
    transition: 0.5s;
    margin-top: -45px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    padding: 10px 40px;
    overflow: visible;
    vertical-align: middle;
    margin: auto;
}

input -webkit-autofill{

	-webkit-text-fill-color: #000 !important;
}

.inputSubmit:hover{
    background-color: transparent;
    color: #54AEE6;
    border: 1px solid #54AEE6;
    transition: 0.5s;
}

.inputSubmit:focus{
    background-color: transparent;
    color: #54AEE6;
    border: 1px solid #54AEE6;
    transition: 0.5s;
    outline: none !important;
    border-color: #54AEE6;
    box-shadow: 0 0 7px #719ECE;
}

.description{
	font-size: 15px;
	font-weight: 300;
	color: #fff;
    line-height: 20px;
}

.btn{
	border-radius: 15px !important;
    text-transform: uppercase !important;
    color: #fff !important;
    font-size: 15px !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    font-weight: bold !important;
    width: auto !important;
    align-self: center !important;
    border: 1px solid !important;
    margin-top: 1rem !important; 
}

.table {
    background-color: #ecf0f1;
    border-width: 0;
}

tbody{
    border: 1px solid;
}

.td-number-item {
    background-color: #001742;
}

tr {
    line-height: 20px;
    border: none;
}
 
tr#tit { 
    font-weight: bold;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 14px;
}
tr#itens{ 
    text-align: justify;
    border: none;
    font-size: 17px;
    font-weight: lighter; 
}

.title {
    color: #54AEE6;
    font-size: 28px;
	font-weight: bold;
    text-transform: capitalize;
}

.title-login{
    color: #54AEE6;
    font-weight: bold;
    text-transform: capitalize;
}

.title-cadastro{
    color: #54AEE6;
    font-weight: bold;
    text-transform: capitalize;
}

#title-register{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #54AEE6;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
}

.title-primary{
    color: white;
    font-weight: bold;
}

#orgObj {
    color: red;
    text-align: left;
    font-weight: bolder;
}
 
button {
    padding: 3px;
    transition-duration: 0.4s;
    border-radius: 10%;
    cursor: pointer;
}
 
#asterisco {
    color: red;
}
 
 
#telaInicial {
    border-radius: 5%;
   margin-right: -87%;
   font-size: medium;
   padding: 8px;
 
}

#edit {
    padding: 1px;
    font-size: medium;
    
}
 
#desc {
    text-transform: none;
    padding-left: 3px;
    padding-right: 3px;
    border: 0.5px solid #fff;
}
 
#indice {
    padding: 7px;
}

.floatLeft{
    height: auto;
    width: 100%;
    padding: 10px 40px;
    margin: 0 auto;
    border-radius: 15px;
}

#s-object {
    color: #001742;
}

#s-orgao {
    color: #001742;
}

.logo-siga{
    padding: 0;
    margin-top: 10px;
    margin: 4px;
    height: 45px;
    width: auto;
}

.logo-desc{
    align-items: center;
    margin: 4px;
    padding: 10px 30px;
    vertical-align: middle;
    height: 45px;
    width: auto;
}

.logo{
    height: 45px !important;
    margin: 8px;

}

.logo-siga{
    padding: 0;
    margin-top: 10px;
    margin: 4px;
    height: 45px;
    width: auto;
}

.logo-desc{
    align-items: center;
    margin: 4px;
    padding: 10px 30px;
    vertical-align: middle;
    height: 45px;
    width: 55%;
}

.logo{
    height: 45px !important;
    margin: 8px;
}

.logo-compr{
    width: auto;
    height: 150px;
    margin: 4px;
    margin-top: -44px;
    margin-left: 400px;
}

.logo-compras{
    height: 45px !important;
    margin: 8px;
    float: right;
}

.lembrar{
    float: left;
    margin: 8px;
    font-size: 15px;
    padding: 5px 0;
}

.inputLembrar{
    background-color: #ecf0f1;
    width: 15px;
    height: 15px;
    border-radius: 15px !important;
    display: inline-block;
}

input[type="checkbox"]{
    visibility: hidden;
}

input[type="checkbox"]:checked {
    background-color: aqua !important;
}

.checkmark{
    background-color: aqua !important;
    width: 15px;
    height: 15px;
    border-radius: 15px !important;
}
.logo-gov{
    height: 45px !important;
    margin: 4px;
    float: right;
}

.logo-rn{
    width: auto;
    height: 60px;
    margin: 8px;
    margin-top: 2px;
    padding: 0 20px;
    float: right;
}

.labelSubmit{
    margin: 8px !important;
    font-size: 15px;
    padding: 5px 0 !important;
}

.p-help{
    color: #2da8a8;
    line-height: 1.5rem;
    font-size: 17px;
}

.strong-numero{
    text-decoration: none !important;
    color: #008b8b;
}

.p-sigla {
    color: #fde962; 
}

.logo-siga{
    padding: 0 5px;
    margin: 4px;
    margin-top: 5px;
    margin-left: 30px !important;
    height: 45px;
    width: auto;
    float:left;
}

.logo-desc{
    align-items: center;
    margin: 4px;
    padding: 2px 10px;
    vertical-align: middle;
}

.logo{
    align-items: center !important;
    text-align: center !important;
    margin: 4px !important;
    margin-top: -30px !important;
    padding: 2px 10px !important;
    
    margin-bottom: 4px !important;
    vertical-align: middle !important;
}

.navbar{
    position: sticky !important;
    top: 0 !important;
}

.p-sigla {
    color: #fde962; 
}

.p-siga {
    font-size: 15px;
    text-align: center;
    float: left;
    height: 15px;
    color: white;
    line-height: 0.2rem;
    margin-top: -2px;
}

.hr-p {
    color: white;
    width: 250px;
    float: center;
    margin-left: -10px;
}

.img-rn {
    width: auto;
    height: 60px;
    margin: 8px;
    margin-top: 2px;
    padding: 0 20px;
}

.img-compr{
    width: auto;
    height: 140px;
    margin: 8px;
    margin-top: 2px;
    padding: 0 20px;
}
